body {
    background-color: azure;
    font-family:freemono, monospace;
 	font-size:100%;
}
h1 {
	color: navy;
    margin-left: 20%;
}
h2 {
	color: navy;
	margin-left: 15%;
}
input[type=text] {
	background-color: white;
    color: black;
    margin-left: 5%;
}
input[type=number] {
	background-color: white;
    color: black;
    margin-left: 5%;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 30%;
}
img {
	margin-left: 10%;
}